{% macro submenuMobile(nav) -%}
    {% for file, item in nav %}
        {%- if item.sub -%}
        <li {% if isActiveMenuItem(file, item, filename) %}class="{{ 'active' if isActiveMenuItem(file, item, filename) }}"{% endif %}>
            <a href="{{ file | safe }}"
               class="mpl-nav-link mpl-nav-link-collapse{{ ' mpl-collapsed' if not isActiveMenuItem(file, item, filename) }}"
               role="button">
                <span class="mpl-nav-link-name">{{ item.name | safe -}}
                    {%- if item.badge -%}
                        <span class="badge badge-brand">{{ item.badge | safe }}</span>
                    {%- endif -%}
                </span>
            </a>
            <div class="mpl-navbar-collapse collapse">
                <ul class="mpl-navbar-nav">
                    {%- if item.mega -%}
                        {{- megamenuMobile(item.sub) -}}
                    {% else %}
                        {{- submenuMobile(item.sub) -}}
                    {% endif %}
                </ul>
            </div>
        </li>
        {% else %}
        <li {% if isActiveMenuItem(file, item, filename) %}class="{{ 'active' if isActiveMenuItem(file, item, filename) }}"{% endif %}>
            <a href="{{file | safe}}" class="mpl-nav-link"{{ ' target="' + item.target + '"' if item.target }}>
                <span class="mpl-nav-link-name">
                    {{- item.name | safe -}}
                    {%- if item.badge %}<span class="badge badge-brand">{{ item.badge | safe }}</span>{% endif %}
                </span>
            </a>
        </li>
        {% endif %}
    {%- endfor %}
{%- endmacro %}

{% macro megamenuMobile(nav) %}
    {% for file, item in nav %}
        {{ submenuMobile(item.sub) }}
    {% endfor %}
{% endmacro %}

<!-- Navbar Mobile -->
<nav class="mpl-navbar mpl-navbar-mobile">
    <div class="mpl-navbar-container">
        <div class="mpl-navbar-head">
            {% if logo %}
                <a href="index.html" class="mpl-navbar-brand">
                    <img src="{{ logo }}" alt="">
                </a>
            {% endif %}
            <a href="#" class="mpl-navbar-toggle">
                <span></span><span></span><span></span><span></span>
            </a>
        </div>
        <div class="mpl-navbar-body">
            {% if navigation %}
                <ul class="mpl-navbar-nav">
                    {{ submenuMobile(navigation) }}
                    {{ submenuMobile(navigation_right) }}
                </ul>
            {% endif %}
        </div>
        <div class="mpl-navbar-footer">
            <ul class="mpl-navbar-nav">
                {% if nav_search %}
                    <li>
                        <a class="mpl-nav-link" href="#" data-fancybox data-src="#popup-search" data-touch="false" data-small-btn="false" data-toolbar="false" data-close-existing="true" data-auto-focus="true">
                            {{ icon(['M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z']) }}
                        </a>
                    </li>
                {% endif %}
                {% if nav_cart %}
                    <li>
                        <a class="mpl-nav-link" href="#" data-fancybox data-src="#popup-cart" data-touch="false" data-small-btn="false" data-toolbar="false" data-close-existing="true" data-auto-focus="false">
                            {{ icon(['M1 1H5L7.68 14.39M7.68 14.39C7.77144 14.8504 8.02191 15.264 8.38755 15.5583C8.75318 15.8526 9.2107 16.009 9.68 16H19.4C19.8693 16.009 20.3268 15.8526 20.6925 15.5583C21.0581 15.264 21.3086 14.8504 21.4 14.39L23 6H6L7.68 14.39ZM10 21C10 21.5523 9.55228 22 9 22C8.44772 22 8 21.5523 8 21C8 20.4477 8.44772 20 9 20C9.55228 20 10 20.4477 10 21ZM21 21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21C19 20.4477 19.4477 20 20 20C20.5523 20 21 20.4477 21 21Z']) }}
                        </a>
                    </li>
                {% endif %}
                {% if nav_login %}
                    <li>
                        <a class="mpl-nav-link" href="#" data-fancybox data-src="#popup-signin" data-touch="false" data-small-btn="false" data-toolbar="false" data-close-existing="true" data-auto-focus="true">
                            {{ icon(['M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z']) }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- /Navbar Mobile -->
