.mpl-pricing {
    @include media-breakpoint-up(sm) {
        padding: 45px 50px;
    }
    @include media-breakpoint-down(xs) {
        padding: 25px 30px;
    }
    background-color: $color_bg_2;
    @include border-radius(5px);
}

.mpl-pricing-head {
    display: flex;
    @include media-breakpoint-up(sm) {
        margin-bottom: 15px;
    }

    .mpl-pricing-price {
        margin-left: auto;
    }
}

.mpl-pricing-body {
    color: $color_text_1;
}

.mpl-pricing-footer {
    margin-top: 40px;
}

.mpl-pricing-list {
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 1rem;

    > li {
        position: relative;
        padding-left: 28px;

        + li {
            margin-top: 12px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }
        &::before {
            top: .25rem;
            left: 0;
            width: 18px;
            height: 18px;
            background-color: $color_bg_3;
            border-radius: 9px;
        }
        &::after {
            display: block;
            top: 10px;
            left: 5px;
            width: 8px;
            height: 5px;
            border-bottom: 1.5px solid $color_text_2;
            border-left: 1.5px solid $color_text_2;
            border-radius: 1px;
            transform: rotate(-45deg);
        }
    }
}
