.popover {
    border: 0;

    @if not $skew {
        background-color: $color_bg_2;
    }
    @if $skew {
        background-color: transparent;
    }

    .arrow::before {
        display: none;
    }
}

.popover-body {
    padding: 11px 20px 12px;
    font-size: 1rem;
    color: $color_text_1;

    @if $skew {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color_bg_2;
            @include border-radius(3px);
            @include skew(sm);
            z-index: -1;
        }
    }
}


.bs-popover-auto[x-placement^="left"],
.bs-popover-left {
    margin-right: .75rem;

    .arrow {
        right: auto;
        left: 100%;
        width: .375rem;
        height: .875rem;

        &::after {
            border-width: .375rem 0 .375rem .4375rem;
            border-left-color: $color_bg_2;
        }
    }
}

.bs-popover-auto[x-placement^="top"],
.bs-popover-top {
    margin-bottom: .75rem;

    .arrow {
        top: 100%;
        width: .875rem;
        height: .375rem;

        &::after {
            border-width: .4375rem .375rem 0 .375rem;
            border-top-color: $color_bg_2;
        }
    }
}

.bs-popover-auto[x-placement^="bottom"],
.bs-popover-bottom {
    margin-top: .75rem;

    .arrow {
        top: auto;
        bottom: 100%;
        width: .875rem;
        height: .375rem;

        &::after {
            border-width: 0 .375rem .4375rem .375rem;
            border-bottom-color: $color_bg_2;
        }
    }
}

.bs-popover-auto[x-placement^="right"],
.bs-popover-right {
    margin-left: .75rem;

    .arrow {
        right: 100%;
        left: auto;
        width: .375rem;
        height: .875rem;

        &::after {
            border-width: .375rem .4375rem .375rem 0;
            border-right-color: $color_bg_2;
        }
    }
}
