.table {
    margin-bottom: 30px;
    color: $color_text;

    td {
        color: $color_text_1;

        > a {
            color: $color_text;

            &:hover,
            &:focus {
                color: $color_brand;
            }
        }

        > p {
            &:last-child {
                margin-bottom: 0;
            }

            > a {
                color: $color_text;

                &:hover,
                &:focus {
                    color: $color_brand;
                }
            }
        }
    }

    thead th {
        padding: 1.625rem 1.5625rem 1.6875rem;
        font-weight: 500;
        border-color: $color_bg_3;
        border-top-width: 2px;
    }

    tbody {
        th,
        td {
            padding: 16px 25px 17px;
            border-top: 0;
            border-bottom: 2px solid $color_bg_3;
        }

        th {
            font-weight: 400;
            color: $color_text_1;
        }
    }
}

.table-striped {
    thead th {
        padding-top: 0;
        border-color: transparent;
    }
    tbody {
        tr:nth-of-type(odd) {
            background-color: rgba($color_bg_3, .5);
        }
        th,
        td {
            border-color: transparent;
        }
    }
}

.table-hover tbody tr {
    transition: background-color .05s ease-in-out;

    &:hover,
    &:focus {
        background-color: rgba($color_bg_3, .3);
    }
}


// shop
$width_shop_image: 110px !default;
$width_shop_remove: 70px !default;
$width_shop_price: 120px !default;
$shop_h_gap: 11px !default;
$shop_v_gap: 20px !default;

.mpl-table-shop {
    tbody td {
        border-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
        tr {
            position: relative;
            display: flex;
            align-items: center;

            + tr {
                margin-top: $shop_v_gap;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $color_bg_2;
                @include border-radius(4px);
                @include skew-fix(xs, x);
                z-index: -1;
            }
        }

        td {
            @include create-col(grow);
        }

        tbody {
            td {
                padding: 0 $shop_h_gap;
                vertical-align: middle;
            }

            tr:first-child td {
                padding-top: 0;
            }
            tr:last-child td {
                padding-bottom: 0;
            }
        }

        .mpl-table-image {
            @include media-breakpoint-up(md) {
                width: #{$width_shop_image + 20px + $shop_h_gap};
                max-width: #{$width_shop_image +20px + $shop_h_gap};
            }
            @include media-breakpoint-down(sm) {
                width: #{$width_shop_image + $shop_h_gap};
                max-width: #{$width_shop_image + $shop_h_gap};
            }
            padding-left: 0;
        }

        .mpl-table-remove {
            width: #{$width_shop_remove + $shop_h_gap};
            max-width: #{$width_shop_remove + $shop_h_gap};
            padding-right: 0;
        }

        .mpl-table-price {
            width: $width_shop_price;
            max-width: $width_shop_price;
        }
    }
    @include media-breakpoint-only(xs) {
        .mpl-table-product {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: $color_bg_2;
            @include border-radius(3px);

            + .mpl-table-product {
                margin-top: 20px;
            }
        }

        .mpl-table-image::before,
        .mpl-table-remove::before {
            display: none;
        }

        .mpl-table-name,
        .mpl-table-product-rating,
        .mpl-table-price {
            justify-content: space-between;

            &::before {
                position: static;
                @include create-col(auto);
                margin-right: 20px;
            }

            > .mpl-table-product-title,
            > .mpl-rating,
            > .mpl-price {
                @include create-col(auto);
            }
        }

        .mpl-table-image {
            justify-content: flex-start;
        }

        .mpl-table-remove {
            position: static;
            margin-top: 0;
        }


        // product
        .mpl-table-product-title {
            @include create-col(1, 1);
            text-align: right;
        }
        .mpl-table-product-rating {
            @include create-col(1, 1);
            text-align: right;
        }
        .mpl-table-product-remove {
            position: absolute;
            top: 2px;
            right: #{($width_shop_remove / 2 - 16px) + 18px / -1};
        }
    }
}


// product item
.mpl-table-product {
    .mpl-table-product-image {
        position: relative;
        display: block;
        @include create-col(auto);

        @include media-breakpoint-up(md) {
            width: $width_shop_image + 20px;
        }
        @include media-breakpoint-down(sm) {
            width: $width_shop_image;
        }

        > .mpl-image {
            position: relative;
            overflow: hidden;
            @include border-radius(4px 0 0 4px);

            @include media-breakpoint-up(md) {
                height: 100px;
            }
            @include media-breakpoint-down(sm) {
                height: 85px;
            }

            > img {
                @include img-ofi();
                opacity: $images_opacity;
                will-change: opacity;
                transition: opacity .2s ease-in-out;
            }

            @if $skew {
                @include skew-img(xs, x);

                > img {
                    @include skew-img-inverse(xs, x);
                }
            }
        }
        &:hover img,
        &:focus img {
            opacity: $images_hover_opacity;
        }
    }

    .mpl-table-product-title {
        display: block;
        margin-bottom: 8px;
    }

    .mpl-table-product-rating {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: .125rem;

        .icon {
            width: 14px;
            height: 14px;
        }

        @include media-breakpoint-up(sm) {
            .mpl-rating {
                color: $color_text_1;
            }
        }
        @include media-breakpoint-down(xs) {
            margin-top: 28px;

            &::before {
                content: attr(data-title) ": ";
            }
        }
    }

    .mpl-table-product-remove {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $width_shop_remove;
        height: $width_shop_remove;
        color: $color_text_2;

        > .icon {
            width: 16px;
            height: 16px;
        }

        &:hover,
        &:focus {
            color: $color_brand;
        }
    }

    .mpl-price {
        font-family: $font_headings;
        font-size: .875rem;
        font-weight: 500;
        color: $color_text_1;
        text-transform: uppercase;
        letter-spacing: .04em;

        @include media-breakpoint-down(xs) {
            color: $color_text;
        }

        > span {
            font-size: 80%;
            text-decoration: line-through;
            opacity: .7;

            @include media-breakpoint-up(sm) {
                display: block;
            }
            @include media-breakpoint-down(xs) {
                margin-left: 4px;
                vertical-align: top;
            }
        }
    }

    @each $name, $color in $color_alert {
        .mpl-price-#{$name} {
            color: $color;
        }
    }

    .badge {
        position: absolute;
        top: 8px;
        @if not $skew {
            left: 8px;
        }
        @if $skew {
            left: 15px;
        }
        font-size: .625rem;
        font-weight: 600;
    }
}


// profile
.mpl-table-profile {
    @include media-breakpoint-up(md) {
        td:first-child {
            width: 200px;
            min-width: 200px;
        }
    }
    @include media-breakpoint-down(sm) {
        tr {
            display: block;
            border-bottom: 2px solid $color_bg_3;
        }

        td:first-child {
            display: block;
            padding-bottom: 0;
        }

        tbody td {
            border-bottom: 0;
        }
    }
}


// cart total
.mpl-table-shop-total {
    display: flex;
    padding: 25px 30px;
    background-color: $color_bg_2;
    @include border-radius(3px);

    tbody {
        th,
        td {
            border: 0;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }

        tr {
            &:first-child th,
            &:first-child td {
                padding-top: 0;
            }

            &:last-child th,
            &:last-child td {
                padding-bottom: 0;
            }
        }

        th {
            padding-right: 0;
        }

        td {
            color: $color_text;
        }
    }
}


// product information
.mpl-table-product-information {
    overflow: hidden;
    @include border-radius(6px);

    tbody {
        th,
        td {
            padding: 10px 25px;
            border-bottom: 0;
        }

        tr {
            &:first-child th,
            &:first-child td {
                padding-top: 20px;
            }

            &:last-child th,
            &:last-child td {
                padding-bottom: 20px;
            }
        }

        th {
            width: 200px;
            background-color: $color_bg_2;
        }

        td {
            color: $color_text;
            background-color: rgba($color_bg_2, .4);
        }
    }
}


// responsive
@include media-breakpoint-down(xs) {
    .mpl-table-responsive {
        thead {
            display: none;
        }

        tbody th,
        tbody td {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 100%;
            max-width: 100%;
            padding: 0;
            margin-top: 30px;

            &:first-child {
                margin-top: 0;
            }
        }

        td::before {
            content: attr(data-title) ": ";
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
@include media-breakpoint-down(sm) {
    .mpl-table-responsive-sm {
        thead {
            display: none;
        }

        tbody th,
        tbody td {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 100%;
            max-width: 100%;
            padding: 0;
            margin-top: 30px;

            &:first-child {
                margin-top: 0;
            }
        }

        td::before {
            content: attr(data-title) ": ";
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}


// sm
.mpl-table-shop-sm {
    @include media-breakpoint-up(sm) {
        tr + tr {
            margin-top: 20px;
        }
        tbody td {
            padding: 0 10px;
        }

        .mpl-table-image {
            width: 90px;
            max-width: 90px;
        }
        .mpl-table-remove {
            width: 40px;
            max-width: 40px;
        }
    }
}

.mpl-table-product-sm {
    .mpl-table-product-image {
        width: auto;

        > .mpl-image {
            width: 80px;
            @include border-radius(4px);

            @include media-breakpoint-up(md) {
                height: 70px;
            }
            @include media-breakpoint-down(sm) {
                height: 60px;
            }
        }
    }

    .mpl-table-product-title {
        margin-bottom: 4px;
    }

    .mpl-table-product-remove {
        justify-content: flex-end;
        width: 30px;
        height: 30px;
    }

    @include media-breakpoint-up(sm) {
        .mpl-table-product-title {
            display: block;
            max-width: 132px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    @include media-breakpoint-down(xs) {
        .mpl-table-product-remove {
            top: 24px;
            right: 28px;
        }
    }
}
