.mpl-gallery {
    position: relative;
    display: block;

    > .mpl-image {
        position: relative;
        padding-top: 64%;
        overflow: hidden;
        @include border-radius(5px);

        > img {
            @include img-ofi();
            opacity: $images_opacity;
            will-change: opacity;
            transition: opacity .2s ease-in-out;
        }
    }

    > .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 32px;
        height: 32px;
        stroke: #fff;
        opacity: 0;
        will-change: opacity;
        transition: opacity .2s ease-in-out;
        transform: translateY(-50%) translateX(-50%);
    }

    &:hover,
    &:focus {
        > .mpl-image img {
            opacity: $images_hover_opacity;
        }
        > .icon {
            opacity: 1;
        }
    }
}

.mpl-gallery-lg {
    > .icon {
        width: 60px;
        height: 60px;
    }
}

.mpl-gallery-item {
    position: relative;
    display: block;

    > .mpl-image {
        position: relative;
        padding-top: 64%;
        overflow: hidden;
        @include border-radius(5px);

        > img {
            @include img-ofi();
            opacity: $images_opacity;
            will-change: opacity;
            transition: opacity .2s ease-in-out;
        }

        @if $skew {
            @include skew-img(xs);

            > img {
                @include skew-img-inverse(xs);
            }
        }
    }

    > .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 32px;
        height: 32px;
        stroke: #fff;
        opacity: 0;
        will-change: opacity;
        transition: opacity .2s ease-in-out;
        transform: translateY(-50%) translateX(-50%);
    }

    &:hover,
    &:focus {
        > .mpl-image img {
            opacity: $images_hover_opacity;
        }
        > .icon {
            opacity: 1;
        }
    }
}
