{% set page_title = 'User Activity' %}
{% set header_image = bg_2 %}
{% set header_small = true %}

{% extends 'layouts/layout-1.html' %}

{% block header %}
<div class="mpl-banner-content mpl-box-lg">
    <div class="container">
        {% include "shared/user-header.html" %}
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" data-sr="user-links" data-sr-interval="120" data-sr-duration="1000" data-sr-distance="20">
    <ul class="mpl-user-navigation mpl-carousel" data-gap="0" data-slides="auto">
        <li class="active" data-sr-item="user-links"><a href="user-activity.html">Activity</a></li>
        <li data-sr-item="user-links"><a href="user-profile.html">Profile</a></li>
        <li data-sr-item="user-links"><a href="user-messages.html">Messages<span class="badge badge-brand">8</span></a></li>
        <li data-sr-item="user-links"><a href="user-settings.html">Settings</a></li>
        <li data-sr-item="user-links"><a href="#">Groups</a></li>
        <li data-sr-item="user-links"><a href="#">Forums</a></li>
    </ul>
</div>

<div class="mpl-box-md">
    <div class="container">
        <div class="row hgap-lg vgap-lg">
            <div class="col-lg mpl-content">
                <h2>Activity</h2>
                <div class="mpl-timeline" data-sr="user-timeline" data-sr-duration="1000" data-sr-distance="20">
                    <div class="mpl-timeline-item mpl-timeline-warning" data-sr-item="user-timeline">
                        <div class="mpl-timeline-head">
                            <div class="mpl-timeline-image">
                                {{ icon(['M18 8C18 6.4087 17.3679 4.88258 16.2426 3.75736C15.1174 2.63214 13.5913 2 12 2C10.4087 2 8.88258 2.63214 7.75736 3.75736C6.63214 4.88258 6 6.4087 6 8C6 15 3 17 3 17H21C21 17 18 15 18 8Z', 'M13.73 21C13.5542 21.3031 13.3019 21.5547 12.9982 21.7295C12.6946 21.9044 12.3504 21.9965 12 21.9965C11.6496 21.9965 11.3054 21.9044 11.0018 21.7295C10.6982 21.5547 10.4458 21.3031 10.27 21']) }}
                            </div>
                            <div>
                                <div class="mpl-timeline-title h4">Notification</div>
                                <div class="mpl-timeline-subtitle">20 minutes ago</div>
                            </div>
                        </div>
                        <div class="mpl-timeline-body">
                            <p>We invite you to test-drive the new service <a href="#">Lorem</a>. Confirm the invitation and we will send you notes and hints.</p>
                            <a href="#" class="btn btn-default">Confirm</a>
                            <a href="#" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>

                    <div class="mpl-timeline-item" data-sr-item="user-timeline">
                        <div class="mpl-timeline-head">
                            <div class="mpl-timeline-image">
                                {{ img(user_2.img) }}
                            </div>
                            <div>
                                <div class="mpl-timeline-title h4">Message</div>
                                <div class="mpl-timeline-subtitle">Saturday, January 25, 2021</div>
                            </div>
                        </div>
                        <div class="mpl-timeline-body">
                            <p>Received a <a href="main-inbox.html">message</a> from <a href="#">Max Brooks</a></p>
                        </div>
                    </div>

                    <div class="mpl-timeline-item mpl-timeline-success" data-sr-item="user-timeline">
                        <div class="mpl-timeline-head">
                            <div class="mpl-timeline-image">
                                {{ icon(['M22.54 6.42C22.4212 5.94541 22.1793 5.51057 21.8387 5.15941C21.498 4.80824 21.0708 4.55318 20.6 4.42C18.88 4 12 4 12 4C12 4 5.12002 4 3.40002 4.46C2.92927 4.59318 2.502 4.84824 2.16137 5.19941C1.82074 5.55057 1.57881 5.98541 1.46002 6.46C1.14524 8.20556 0.991258 9.97631 1.00002 11.75C0.988802 13.537 1.14279 15.3213 1.46002 17.08C1.59098 17.5398 1.83833 17.9581 2.17817 18.2945C2.518 18.6308 2.93884 18.8738 3.40002 19C5.12002 19.46 12 19.46 12 19.46C12 19.46 18.88 19.46 20.6 19C21.0708 18.8668 21.498 18.6118 21.8387 18.2606C22.1793 17.9094 22.4212 17.4746 22.54 17C22.8524 15.2676 23.0063 13.5103 23 11.75C23.0112 9.96295 22.8573 8.1787 22.54 6.42V6.42Z', 'M9.75 15.02L15.5 11.75L9.75 8.48001V15.02Z']) }}
                            </div>
                            <div>
                                <div class="mpl-timeline-title h4">New Electro & House</div>
                                <div class="mpl-timeline-subtitle">Published on January 10, 2021</div>
                            </div>
                        </div>
                        <div class="mpl-timeline-body">
                            <a class="collapse-toggle collapsed" data-toggle="collapse" href="#collapseVideo" aria-expanded="false" aria-controls="collapseVideo">
                                Video
                            </a>
                            <div id="collapseVideo" class="collapse" role="tabpanel">
                                <div class="collapse-content">
                                    <div class="mpl-timeline-responsive">
                                        <iframe class="mpl-timeline-responsive-item" src="https://www.youtube.com/embed/hjyBYhdRXQU" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mpl-timeline-item mpl-timeline-primary" data-sr-item="user-timeline">
                        <div class="mpl-timeline-head">
                            <div class="mpl-timeline-image">
                                {{ icon(['M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z', 'M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z']) }}
                            </div>
                            <div>
                                <div class="mpl-timeline-title h4">My New Location</div>
                                <div class="mpl-timeline-subtitle">Published on January 8, 2021</div>
                            </div>
                        </div>
                        <div class="mpl-timeline-body">
                            <a class="collapse-toggle collapsed" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
                                Map
                            </a>
                            <div id="collapseMap" class="collapse" role="tabpanel">
                                <div class="collapse-content">
                                    <div class="mpl-timeline-responsive">
                                        <iframe class="mpl-timeline-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423284.59051352815!2d-118.41173249999999!3d34.0204989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sru!4v1430158354122"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h2 class="mt-60">Skills</h2>
                <small>JS:</small>
                <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>

                <small>CSS:</small>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>

                <small>PHP:</small>
                <div class="progress">
                    <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>

                <small>Photoshop:</small>
                <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>
            </div>

            <div class="col-auto-lg mpl-sidebar"{% if sr_widget %} {{ sr_widget }}{% endif %}>
                {{ widget_about('About', ["Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus, ubi tu non Virginiae ornare vel ipsum. Ut enim Albuquerque et ille eum iure hic, et ego ducam te ad iustitiam."]) }}
                {{ widget_location('Location') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
