@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

/*------------------------------------------------------------------
  [Typography]

  Body:     #{$body_font_size}/#{$body_line_height} #{$font_body};
  Headings: #{$font_headings}

  Notes: Most of font sizes are relative to the base font size (rem)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]

  Main:         #{$color_brand} (buttons/links hover)
  Text:         #{$color_text}
  Text 1:       #{$color_text_1}
  Text 2:       #{$color_text_2}

  Bg:           #{$color_bg}
  Bg 1:         #{$color_bg_1}
  Bg 2:         #{$color_bg_2}
  Bg 3:         #{$color_bg_3}
  Bg 4:         #{$color_bg_4}
  Bg Light:     #{$color_bg_light}
  Bg Footer:    #{$color_bg_footer}

  Primary:      #{$color_primary}
  Success:      #{$color_success}
  Info:         #{$color_info}
  Warning:      #{$color_warning}
  Danger:       #{$color_danger}
  Secondary:    #{$color_secondary}
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Table of contents]
  {{table_of_contents}}
-------------------------------------------------------------------*/

// Mixins
@import "mixins/grid";
@import "mixins/skew";
@import "mixins/img-ofi";
@import "mixins/max-width";
@import "mixins/scrollbar";
@import "mixins/border-radius";
@import "mixins/backdrop-blur";


/*------------------------------------------------------------------
  Typography
-------------------------------------------------------------------*/
@import "parts/main-typography";

/*------------------------------------------------------------------
  Base
-------------------------------------------------------------------*/
@import "parts/main-base";

/*------------------------------------------------------------------
  Helper Classes
-------------------------------------------------------------------*/
@import "parts/main-helpers";


/*------------------------------------------------------------------

  Layouts

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  Navbar
-------------------------------------------------------------------*/
@import "parts/layout-navbar";

/*------------------------------------------------------------------
  Navbar Mobile
-------------------------------------------------------------------*/
@import "parts/layout-navbar-mobile";

/*------------------------------------------------------------------
  Footer
-------------------------------------------------------------------*/
@import "parts/layout-footer";


/*------------------------------------------------------------------

  Elements

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  preloader
-------------------------------------------------------------------*/
@import "parts/element-preloader";

/*------------------------------------------------------------------
  cursor
-------------------------------------------------------------------*/
@import "parts/element-cursor";

/*------------------------------------------------------------------
  forms
-------------------------------------------------------------------*/
@import "parts/element-forms";

/*------------------------------------------------------------------
  buttons
-------------------------------------------------------------------*/
@import "parts/element-buttons";

/*------------------------------------------------------------------
  dropdown
-------------------------------------------------------------------*/
@import "parts/element-dropdown";

/*------------------------------------------------------------------
  product item
-------------------------------------------------------------------*/
@import "parts/element-product-item";

/*------------------------------------------------------------------
  post item
-------------------------------------------------------------------*/
@import "parts/element-post-item";

/*------------------------------------------------------------------
  breadcrumb
-------------------------------------------------------------------*/
@import "parts/element-breadcrumb";

/*------------------------------------------------------------------
  boxes
-------------------------------------------------------------------*/
@import "parts/element-boxes";

/*------------------------------------------------------------------
  pagination
-------------------------------------------------------------------*/
@import "parts/element-pagination";

/*------------------------------------------------------------------
  page pagination
-------------------------------------------------------------------*/
@import "parts/element-page-pagination";

/*------------------------------------------------------------------
  social
-------------------------------------------------------------------*/
@import "parts/element-social";

/*------------------------------------------------------------------
  progress
-------------------------------------------------------------------*/
@import "parts/element-progress";

/*------------------------------------------------------------------
  gallery
-------------------------------------------------------------------*/
@import "parts/element-gallery";

/*------------------------------------------------------------------
  collapse
-------------------------------------------------------------------*/
@import "parts/element-collapse";

/*------------------------------------------------------------------
  tab
-------------------------------------------------------------------*/
@import "parts/element-tab";

/*------------------------------------------------------------------
  table
-------------------------------------------------------------------*/
@import "parts/element-table";

/*------------------------------------------------------------------
  icon box
-------------------------------------------------------------------*/
@import "parts/element-icon-box";

/*------------------------------------------------------------------
  number box
-------------------------------------------------------------------*/
@import "parts/element-number-box";

/*------------------------------------------------------------------
  element countdown
-------------------------------------------------------------------*/
@import "parts/element-countdown";

/*------------------------------------------------------------------
  timeline
-------------------------------------------------------------------*/
@import "parts/element-timeline";

/*------------------------------------------------------------------
  changelog
-------------------------------------------------------------------*/
@import "parts/element-changelog";

/*------------------------------------------------------------------
  feature
-------------------------------------------------------------------*/
@import "parts/element-feature";

/*------------------------------------------------------------------
  pricing
-------------------------------------------------------------------*/
@import "parts/element-pricing";

/*------------------------------------------------------------------
  review
-------------------------------------------------------------------*/
@import "parts/element-review";

/*------------------------------------------------------------------
  media object
-------------------------------------------------------------------*/
@import "parts/element-media-object";

/*------------------------------------------------------------------
  alert
-------------------------------------------------------------------*/
@import "parts/element-alert";

/*------------------------------------------------------------------
  link brand
-------------------------------------------------------------------*/
@import "parts/element-link-brand";

/*------------------------------------------------------------------
  list
-------------------------------------------------------------------*/
@import "parts/element-list";

/*------------------------------------------------------------------
  badge
-------------------------------------------------------------------*/
@import "parts/element-badge";

/*------------------------------------------------------------------
  tooltip
-------------------------------------------------------------------*/
@import "parts/element-tooltip";

/*------------------------------------------------------------------
  popover
-------------------------------------------------------------------*/
@import "parts/element-popover";

/*------------------------------------------------------------------
  rating
-------------------------------------------------------------------*/
@import "parts/element-rating";

/*------------------------------------------------------------------
  number
-------------------------------------------------------------------*/
@import "parts/element-number";

/*------------------------------------------------------------------
  snippet
-------------------------------------------------------------------*/
@import "parts/element-snippet";

/*------------------------------------------------------------------
  modal
-------------------------------------------------------------------*/
@import "parts/element-modal";

/*------------------------------------------------------------------
  Banner
-------------------------------------------------------------------*/
@import "parts/element-banner";

/*------------------------------------------------------------------
  widget
-------------------------------------------------------------------*/
@import "parts/element-widgets";


/*------------------------------------------------------------------

  Pages

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  Page
-------------------------------------------------------------------*/
@import "parts/page";

/*------------------------------------------------------------------
  Background Blur
-------------------------------------------------------------------*/
@import "parts/page-blur";

/*------------------------------------------------------------------
  demo
-------------------------------------------------------------------*/
@import "parts/page-demo";

/*------------------------------------------------------------------
  Post
-------------------------------------------------------------------*/
@import "parts/page-post";

/*------------------------------------------------------------------
  Shop
-------------------------------------------------------------------*/
@import "parts/page-shop";

/*------------------------------------------------------------------
  User Profile
-------------------------------------------------------------------*/
@import "parts/page-user-profile";

/*------------------------------------------------------------------
  Forum
-------------------------------------------------------------------*/
@import "parts/page-forum";


/*------------------------------------------------------------------

  Plugins

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  scroll reveal
-------------------------------------------------------------------*/
@import "parts/plugin-scroll-reveal";

/*------------------------------------------------------------------
  bootstrap
-------------------------------------------------------------------*/
@import "parts/plugin-bootstrap";

/*------------------------------------------------------------------
  bootstrap touchspin
-------------------------------------------------------------------*/
@import "parts/plugin-touchspin";

/*------------------------------------------------------------------
  swiper
-------------------------------------------------------------------*/
@import "parts/plugin-swiper";

/*------------------------------------------------------------------
  hexagon rating
-------------------------------------------------------------------*/
@import "parts/plugin-hexagon-rating";

/*------------------------------------------------------------------
  fancybox
-------------------------------------------------------------------*/
@import "parts/plugin-fancybox";

/*------------------------------------------------------------------
  slider revolution
-------------------------------------------------------------------*/
@import "parts/plugin-slider-revolution";

/*------------------------------------------------------------------
  cyberpress
-------------------------------------------------------------------*/
@import "parts/plugin-cyberpress";

/*------------------------------------------------------------------
  isotope
-------------------------------------------------------------------*/
@import "parts/plugin-isotope";

/*------------------------------------------------------------------
  Sweet Alert
-------------------------------------------------------------------*/
@import "parts/plugin-sweet-alert";

/*------------------------------------------------------------------
  Range Slider
-------------------------------------------------------------------*/
@import "parts/plugin-rangeslider";
