
<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- Popper -->
<script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

<!-- ScrollReveal -->
<script src="assets/vendor/scrollreveal/dist/scrollreveal.min.js"></script>

<!-- Animejs -->
<script src="assets/vendor/animejs/lib/anime.min.js"></script>

<!-- Bootstrap -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Jarallax -->
<script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>

<!-- Swiper -->
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Fancybox -->
<script src="assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>

<!-- jQuery Countdown -->
<script src="assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>

<!-- Moment.js -->
<script src="assets/vendor/moment/min/moment.min.js"></script>
<script src="assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

<!-- Revolution Slider -->
<script src="assets/vendor/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/vendor/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- ImagesLoaded -->
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- Isotope -->
<script src="assets/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>

<!-- Ion Range Slider -->
<script src="assets/vendor/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

<!-- Bootstrap TouchSpin -->
<script src="assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>

<!-- Bootstrap Validator -->
<script src="assets/vendor/bootstrap-validator/dist/validator.min.js"></script>

<!-- Mercado pago -->
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="assets/js/mercadopago.js"></script>

<!-- MonsterPlay -->
<script src="assets/js/monsterplay.min.js"></script>
<script src="assets/js/monsterplay-init.js"></script>

{% if custom_script %}
<script>{{ custom_script | safe }}</script>
{% endif %}

<!-- END: Scripts -->
