.progress {
    height: 18px;
    margin-bottom: 15px;
    overflow: initial;
    background-color: $color_bg_2;
    @include border-radius(2px);
    box-shadow: none;
    @include skew(sm);

    .progress-bar {
        background-color: $color_brand;
        @include border-radius(2px);

        + .progress-bar {
            margin-left: -1px;
        }

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
