.breadcrumb {
    padding: 0;
    margin-bottom: 30px;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .05em;
    background-color: transparent;
}

.breadcrumb-item {
    color: $color_text_2;

    &.active {
        color: $color_text;
    }

    + .breadcrumb-item {
        padding-left: 20px;

        &::before {
            display: none;
        }
    }

    > a {
        color: currentColor;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color_text;
        }
    }
}
