.mpl-box-lg {
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;
}

.mpl-box-md {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mpl-box-sm {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
